{% extends 'core/base.html' %}

{% load static %}

{% block main_content%}
<section class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h4>Cambiar contraseña</h4>
            <form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="password1" class="form-label">Contraseña nueva</label>
                    <input type="password" class="form-control" id="password1" name="password1">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Repita la nueva contraseña</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>
                <button type="submit" class="btn btn-primary">Cambiar</button>
            </form>

            {% if mensaje %}
            <p class="alert alert-warning mt-3">{{ mensaje }}</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

